{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informática para Iniciantes e Melhor Idade</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/posicao_footer.css' %}">
</head>
<body class="bg-body-tertiary">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b87058db00.js" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-sm bg-body-secondary text-body-secondary border-bottom" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img class="bi mx-5" width="150" src="{% static 'img/Incubadora.png' %}" alt="Incubadora de Inovação Social em Robótica e Sustentabilidade">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'editais' %}">Editais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resultado' %}">Resultado</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-sm px-0 me-sm-3 mb-3 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="card-title">Informática para Iniciantes e Melhor Idade</h1>
                    <p class="card-text">Aprender desde como ligar um computador, passando por todo o processo de comunicação através das redes sociais, internet e outros.</p>
                </div>
            </div>
            <div class="col-sm px-0 mb-3">
                <img src="{% static 'img/info_melhor_idade.jpg' %}" alt="Informática para Iniciantes e Melhor Idade" class="img-fluid rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Requisitos:</h2>
                    <p class="card-text mb-4">
                        - Idade mínima: 12 anos. <br>
                        - Escolaridade mínima: Ser Alfabetizado(a).
                    </p>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Dias e Horários:</h2>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Terça e quinta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                <a href="{% url 'resultado_id' 1 %}">08:40 - 10:40</a><br>
                                <a href="{% url 'resultado_id' 2 %}">14:00 - 16:00</a><br>
                                <a href="{% url 'resultado_id' 3 %}">16:00 - 18:20</a><br>
                                <a href="{% url 'resultado_id' 4 %}">18:30 - 20:30</a>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Quarta e sexta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                <a href="{% url 'resultado_id' 5 %}">10:50 - 12:50</a><br>
                                <a href="{% url 'resultado_id' 6 %}">16:10 - 18:10</a><br>
                                <a href="{% url 'resultado_id' 7 %}">18:20 - 20:20</a> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top bg-body-secondary text-body-secondary px-5 py-2" id="footer">
        <div class="row">
            <div class="col-sm-4">
                <figure class="figure start-0 translate-middle-x">
                    <img class="figure-img" width="200" src="{% static 'img/Marica.png' %}" alt="Prefeitura de Maricá">
                    <figcaption class="figure-caption text-center"><i>ORGANIZAÇÃO</i></figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure start-0 translate-middle-x">
                    <img class="figure-img" width="200" src="{% static 'img/ICTIM.png' %}" alt="Instituto de Ciência Tecnologia e Inovação de Maricá">
                    <figcaption class="figure-caption text-center"><i>REALIZAÇÃO</i></figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure start-0 translate-middle-x">
                    <img class="figure-img" width="200" src="{% static 'img/Inac.png' %}" alt="Instituto Nova Ágora de Cidadania">
                    <figcaption class="figure-caption text-center"><i>REALIZAÇÃO</i></figcaption>
                </figure>
            </div>
        </div>
    </footer>
</body>
</html>