{% extends 'bases/base_externo.html' %}

{% block title %}Design e Modelagem 3D{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/cursos.css' %}">
{% endblock %}

{% block content %}
    <script src="{% static 'js/cursos.js' %}"></script>

    <div class="container my-5 px-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-7 animate-card" style="animation-delay: 0.2s;">
                <div class="info-card h-100 p-4 hover-zoom">
                    <h1 class="display-6 mb-4 fw-bold">Design e Modelagem 3D</h1>
                    <p class="lead text-muted mb-4">
                        Dois níveis que capacitam os alunos com fundamentos do design gráfico e introdução à
                        modelagem 3D, avançando para técnicas que permitem alcançar resultados de alta qualidade em
                        criações visuais.
                    </p>
                    <div class="d-grid gap-2 d-md-flex">
                        <a class="btn btn-primary btn-lg px-4" href="{% url 'inscricao' %}">Inscreva-se</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 animate-card" style="animation-delay: 0.4s;">
                <div class="hover-zoom h-100">
                    <img src="{% static 'img/design.jpg' %}"
                         class="img-fluid rounded-3 shadow-lg"
                         alt="Design e Modelagem 3D">
                </div>
            </div>
        </div>

        <div id="niveis" class="container">
            <div id="basico" class="row g-4 mb-5">
                <div class="col-lg-4 animate-card" style="animation-delay: 0.2s;">
                    <div class="info-card h-100 p-4 hover-zoom">
                        <div class="d-flex align-items-center mb-4">
                            <h3 class="mb-0">Noções de Design e Modelagem 3D</h3>
                        </div>
                        <p class="lead mb-4">
                            Capacita os alunos com conhecimentos em fundamentos do design gráfico e introduz a modelagem 3D.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 animate-card" style="animation-delay: 0.2s;">
                    <div class="info-card h-100 p-4 hover-zoom">
                        <h2 class="h3 mb-4 fw-bold">
                            <i class="fa-regular fa-square-check me-2"></i>Requisitos
                        </h2>
                        <ul class="bullet-list fs-5">
                            <li class="mb-3">Idade mínima: 14 anos</li>
                            <li class="mb-3">Escolaridade mínima: 1º segmento do Ensino Fundamental completo</li>
                            <li>Conhecimentos de informática</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 animate-card" style="animation-delay: 0.2s;">
                    <div class="info-card h-100 p-4 hover-zoom">
                        <h2 class="h3 mb-4 fw-bold">
                            <i class="fa-regular fa-clock me-2"></i>Horários
                        </h2>

                        <h4 class="h5 mb-4 fw-bold">
                            <i class="fa-solid fa-location-dot me-2"></i>Polo Centro
                        </h4>

                        <div class="row g-3 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="col-xl-6 col-lg-4 col-5">
                                    <div class="badge bg-primary me-3">Seg e Qua</div>
                                </div>
                                <div class="col-xl-6 col-lg-8 col-7">
                                    <div class="schedule-column">
                                        <p class="mb-0">08:30 - 10:30</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="col-xl-6 col-lg-4 col-5">
                                    <div class="badge bg-primary me-3">Seg, Qua e Sex</div>
                                </div>
                                <div class="col-xl-6 col-lg-8 col-7">
                                    <div class="schedule-column">
                                        <p class="mb-0">13:30 - 15:30</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="d-flex align-items-center">
                                <div class="col-xl-6 col-lg-4 col-5">
                                    <div class="badge bg-primary me-3">Ter e Qui</div>
                                </div>
                                <div class="col-xl-6 col-lg-8 col-7">
                                    <div class="schedule-column">
                                        <p class="mb-1">09:30 - 11:30</p>
                                        <p class="mb-1">11:30 - 13:30</p>
                                        <p class="mb-0">16:30 - 18:30</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="intermediario" class="row g-4 mb-5">
                <div class="col-lg-4 animate-card" style="animation-delay: 0.4s;">
                    <div class="info-card h-100 p-4 hover-zoom">
                        <div class="d-flex align-items-center mb-4">
                            <h3 class="mb-0">Design e Modelagem 3D: Dominando os Softwares</h3>
                        </div>
                        <p class="lead mb-4">
                            Aprofunda o conhecimento em  modelagem 3D, permitindo aos participantes alcançarem
                            resultados de alta qualidade em suas criações visuais.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 animate-card" style="animation-delay: 0.4s;">
                    <div class="info-card h-100 p-4 hover-zoom">
                        <h2 class="h3 mb-4 fw-bold">
                            <i class="fa-regular fa-square-check me-2"></i>Requisitos
                        </h2>

                        <ul class="bullet-list fs-5">
                            <li class="mb-3">Idade mínima: 14 anos</li>
                            <li class="mb-3">Escolaridade mínima: 1º segmento do Ensino Fundamental completo</li>
                            <li>Conhecimentos de informática e noções básicas dos seguintes softwares Photoshop,
                            Illustrator e Blender.</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 animate-card" style="animation-delay: 0.2s;">
                    <div class="info-card h-100 p-4 hover-zoom">
                        <h2 class="h3 mb-4 fw-bold">
                            <i class="fa-regular fa-clock me-2"></i>Horários
                        </h2>

                        <h4 class="h5 mb-4 fw-bold">
                            <i class="fa-solid fa-location-dot me-2"></i>Polo Centro
                        </h4>

                        <div class="row g-3 mb-3">
                            <div class="d-flex align-items-center">
                                <div class="col-xl-6 col-lg-4 col-5">
                                    <div class="badge bg-primary me-3">Seg, Qua e Sex</div>
                                </div>
                                <div class="col-xl-6 col-lg-8 col-7">
                                    <div class="schedule-column">
                                        <p class="mb-1">10:30 - 12:30</p>
                                        <p class="mb-0">15:30 - 17:30</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="d-flex align-items-center">
                                <div class="col-xl-6 col-lg-4 col-5">
                                    <div class="badge bg-primary me-3">Ter e Qui</div>
                                </div>
                                <div class="col-xl-6 col-lg-8 col-7">
                                    <div class="schedule-column">
                                        <p class="mb-0">14:30 - 16:30</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}