{% extends 'bases/base_externo.html' %}

{% block title %}Educação Financeira{% endblock %}

{% load static %}

{% block content %}
    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-sm px-0 me-sm-3 mb-3 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="card-title">Educação Financeira</h1>
                    <p class="card-text">Conhecer a definição de educação financeira e identificar a importância da mesma no cotidiano dos cidadãos, além de tratar de métodos de planejamento e organização financeira.</p>
                </div>
            </div>
            <div class="col-sm px-0 mb-3">
                <img src="{% static 'img/educacao.jpg' %}" alt="Educação Financeira" class="img-fluid rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Requisitos:</h2>
                    <p class="card-text mb-4">
                        - Idade mínima: 16 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental II Completo. <br> 
                    </p>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Dias e Horários:</h2>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Terça e quinta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                11:00 - 13:00<br>
                                14:00 - 16:00
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <p class="card-text">Sexta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                09:00 - 12:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}