{% extends 'bases/base_externo.html' %}

{% block title %}Excel{% endblock %}

{% load static %}

{% block content %}
    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-sm px-0 me-sm-3 mb-3 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="card-title">Excel</h1>
                    <p class="card-text">Realizar dinâmicas para aumentar a habilidade no uso de planilhas e aprender fórmulas intermediárias, recursos de hipóteses, tabelas dinâmicas, dashboards, fórmulas complexas, auditoria de células, separação de informações e macros.</p>
                </div>
            </div>
            <div class="col-sm px-0 mb-3">
                <img src="{% static 'img/excel.jpg' %}" alt="Excel" class="img-fluid rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Módulo 1</h2>
                    <h5 class="card-subtitle mb-2">Excel Intermediário</h5>
                    <p class="card-text mb-4">Realizar dinâmicas que vão aumentar a habilidade na movimentação pela planilha e rapidez na execução de seus trabalhos e auxiliará no avanço de conhecimentos com fórmulas de dificuldade intermediária, recursos de hipóteses, tabelas dinâmicas, dashboards e outros recursos essenciais.</p>
                    <h5 class="card-subtitle mb-2">Requisitos:</h5>
                    <p class="card-text mb-4">
                        - Idade mínima: 14 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental I (terminou o 5 ano). <br> 
                        - Noções básicas do programa Microsoft Excel.
                    </p>
                    <h5 class="card-subtitle mb-2">Dias e horários:</h5>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Segunda e quarta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                <a href="{% url 'resultado_id' 14 %}">08:40 - 10:40</a><br>
                                <a href="{% url 'resultado_id' 15 %}">14:10 - 16:10</a><br>
                                <a href="{% url 'resultado_id' 16 %}">16:20 - 18:20</a><br>
                                <a href="{% url 'resultado_id' 17 %}">18:30 - 20:30</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Módulo 2</h2>
                    <h5 class="card-subtitle mb-2">Excel Avançado</h5>
                    <p class="card-text mb-4">Ampliar conhecimentos sobre o Excel, desenvolvendo fórmulas aninhadas e de maior complexidade, auditoria de células, separação de informações e avançaremos no aprendizado de macro.</p>
                    <h5 class="card-subtitle mb-2">Requisitos:</h5>
                    <p class="card-text mb-4">
                        - Idade mínima: 16 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental I (terminou o 5 ano). <br>
                        - Conhecer movimentações pela planilha e rapidez na execução de seus trabalhos, fórmulas de dificuldade intermediária, recursos de hipóteses, tabelas dinâmicas, dashboards.
                    </p>
                    <h5 class="card-subtitle mb-2">Dias e horários:</h5>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Segunda e quarta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                <a href="{% url 'resultado_id' 18 %}">10:50 - 13:10</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <p class="card-text">Terça e quinta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                <a href="{% url 'resultado_id' 19 %}">13:30 - 15:50</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}