{% extends 'bases/base_externo.html' %}

{% block title %}Gestão de Pessoas{% endblock %}

{% load static %}

{% block content %}
    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-sm px-0 me-sm-3 mb-3 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="card-title">Gestão de Pessoas</h1>
                    <p class="card-text">Conhecer e desenvolver ferramentas e estratégias para gerir com eficiência o recrutamento e a seleção de bons profissionais, buscando autoeficiência.</p>
                </div>
            </div>
            <div class="col-sm px-0 mb-3">
                <img src="{% static 'img/gestao.jpg' %}" alt="Gestão de Pessoas" class="img-fluid rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Requisitos:</h2>
                    <p class="card-text mb-4">
                        - Idade mínima: 16 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental II Completo. <br> 
                    </p>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Dias e Horários:</h2>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Terça e quinta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                09:00 - 11:00<br>
                                16:00 - 18:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}