{% extends 'bases/base_externo.html' %}

{% block title %}Informática Básica{% endblock %}

{% load static %}

{% block content %}
    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-sm px-0 me-sm-3 mb-3 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="card-title">Informática Básica</h1>
                    <p class="card-text">Capacitar o participante a utilizar as principais ferramentas do pacote office.</p>
                </div>
            </div>
            <div class="col-sm px-0 mb-3">
                <img src="{% static 'img/info_basica.jpg' %}" alt="Informática Básica" class="img-fluid rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Requisitos:</h2>
                    <p class="card-text mb-4">
                        - Idade mínima: 12 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental I (terminou o 5 ano). <br> 
                        - Conhecer e já ter exercido alguma função com o computador.
                    </p>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Dias e Horários:</h2>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Terça e quinta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                <a href="{% url 'resultado_id' 8 %}">10:30 - 12:30</a><br>
                                <a href="{% url 'resultado_id' 9 %}">10:50 - 12:50</a><br>
                                <a href="{% url 'resultado_id' 10 %}">16:10 - 18:10</a><br>
                                <a href="{% url 'resultado_id' 11 %}">18:20 - 20:20</a> 
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Quarta e sexta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                <a href="{% url 'resultado_id' 12 %}">08:40 - 10:40</a><br>
                                <a href="{% url 'resultado_id' 13 %}">14:00 - 16:00</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}