{% extends 'bases/base_externo.html' %}

{% block title %}Informática para Iniciantes{% endblock %}

{% load static %}

{% block content %}
    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-sm px-0 me-sm-3 mb-3 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="card-title">Informática para Iniciantes e Melhor Idade</h1>
                    <p class="card-text">Aprender desde como ligar um computador, passando por todo o processo de comunicação através das redes sociais, internet e outros.</p>
                </div>
            </div>
            <div class="col-sm px-0 mb-3">
                <img src="{% static 'img/info_melhor_idade.jpg' %}" alt="Informática para Iniciantes e Melhor Idade" class="img-fluid rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Requisitos:</h2>
                    <p class="card-text mb-4">
                        - Idade mínima: 12 anos. <br>
                        - Escolaridade mínima: Ser Alfabetizado(a).
                    </p>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Dias e Horários:</h2>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Segunda e quarta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                08:40 - 09:50<br>
                                13:30 - 14:40
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Sexta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                08:40 - 10:40<br>
                                11:00 - 13:00<br>
                                14:00 - 16:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}