{% extends 'bases/base_externo.html' %}

{% block title %}Marketing Diigital{% endblock %}

{% load static %}

{% block content %}
    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-sm px-0 me-sm-3 mb-3 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="card-title">Marketing Digital</h1>
                    <p class="card-text">Identificar o papel do marketing no contexto da gestão organizacional e do comportamento do consumidor.</p>
                </div>
            </div>
            <div class="col-sm px-0 mb-3">
                <img src="{% static 'img/marketing_digital.jpg' %}" alt="Marketing Digital" class="img-fluid rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Requisitos:</h2>
                    <p class="card-text mb-4">
                        - Idade mínima: 16 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental II (terminou o 9 ano). 
                    </p>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Dias e Horários:</h2>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Segunda e quarta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                09:00 - 11:00<br>
                                16:00 - 18:00
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <p class="card-text">Sexta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                13:00 - 16:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}