{% extends 'bases/base_externo.html' %}

{% block title %}Robótica{% endblock %}

{% load static %}

{% block content %}
    <div class="container my-5 px-5">
        <div class="row">
            <div class="col-sm px-0 me-sm-3 mb-3 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="card-title">Robótica e Automação</h1>
                    <p class="card-text">Mostrar ao aluno os elementos essenciais para um projeto integrado de robótica, cobrindo lógica básica, programação em sistemas robóticos, operadores lógicos, estruturas de controle, variáveis homogêneas e heterogêneas, e a execução da primeira aplicação em qualquer linguagem.</p>
                </div>
            </div>
            <div class="col-sm px-0 mb-3">
                <img src="{% static 'img/robotica.jpg' %}" alt="Robótica e Automação" class="img-fluid rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Módulo 1</h2>
                    <h5 class="card-subtitle mb-2">Robótica e Automação: Conceitos Básicos</h5>
                    <p class="card-text mb-4">Mostrar ao aluno quais são os principais elementos necessários para entender e realizar um projeto integrado de robótica. Criar seu projeto de forma simples.</p>
                    <h5 class="card-subtitle mb-2">Requisitos:</h5>
                    <p class="card-text mb-4">
                        - Idade mínima: 12 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental I (terminou o 5 ano). <br> 
                        - Noções básicas do programa Microsoft Excel.
                    </p>
                    <h5 class="card-subtitle mb-2">Dias e horários:</h5>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Segunda e quarta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                08:40 - 10:40
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Terça e quinta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                13:50 - 15:50<br>
                                16:00 - 18:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Módulo 2</h2>
                    <h5 class="card-subtitle mb-2">Robótica e Automação: Lógica, Estruturas e Noções de Programação</h5>
                    <p class="card-text mb-4">Conhecer conceitos básicos de lógica, entender a programação em sistemas robóticos e automação. Explorar temas como proposições, operadores lógicos e tipos de dados e aprender estruturas de controle e repetição, para criar algoritmos controladores.</p>
                    <h5 class="card-subtitle mb-2">Requisitos:</h5>
                    <p class="card-text mb-4">
                        - Idade mínima: 12 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental I (terminou o 5 ano). <br>
                        - Conhecimento básico sobre os principais elementos da robótica.
                    </p>
                    <h5 class="card-subtitle mb-2">Dias e horários:</h5>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Segunda e quarta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                10:50 - 12:50<br>
                                13:50 - 15:50
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Terça e quinta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                10:50 - 12:50
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm px-0 me-sm-3 card bg-body-secondary">
                <div class="card-body">
                    <h2 class="card-title">Módulo 3</h2>
                    <h5 class="card-subtitle mb-2">Robótica e Automação: Sensores, Atuadores e Algoritmos para Sistemas</h5>
                    <p class="card-text mb-4">Exemplificar o uso de variáveis homogêneas e heterogêneas começando a programação em qualquer linguagem escrevendo e executando sua primeira aplicação, entendend como funciona sua execução.</p>
                    <h5 class="card-subtitle mb-2">Requisitos:</h5>
                    <p class="card-text mb-4">
                        - Idade mínima: 12 anos. <br>
                        - Escolaridade mínima: Ensino Fundamental I (terminou o 5 ano). <br> 
                        - Conhecimentos prévios sobre proposições, operadores lógicos e estruturas de controle de repetição, para criar algoritmos controladores.
                    </p>
                    <h5 class="card-subtitle mb-2">Dias e horários:</h5>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Segunda e quarta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                16:00 - 18:00
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md">
                            <p class="card-text">Terça e quinta</p>
                        </div>
                        <div class="col-md">
                            <p class="card-text">
                                08:40 - 10:40
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}