###### Requirements without Version Specifiers ######

django~=5.1
Pillow
django_rest_framework
pandas~=2.2.2
faker~=27.0.0
cpf_generator
django-anymail[mailgun]
openpyxl~=3.1.5
unidecode~=1.3.8
djangorestframework~=3.15.2