{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de turmas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-body-tertiary">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b87058db00.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="{% static 'js/altura.js' %}"></script>
    <script src="{% static 'js/turma_novo.js' %}"></script>

    <div class="d-none" id="token">{% csrf_token %}</div>

    <nav class="navbar navbar-expand-sm bg-body-secondary text-body-secondary border-bottom" aria-label="Tenth navbar example" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'pagina_inicial' %}">
                <img class="bi mx-5" width="150" src="{% static 'img/Incubadora.png' %}" alt="Incubadora de Inovação Social em Robótica e Sustentabilidade">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pagina_inicial' %}">Página inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Turmas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-5 px-5">
        <form>
            <div id="cima_placeholder"></div>
            

            <div class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded">
                <h1>Criação de Turmas:</h1>

                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="curso">
                        <label for="curso">Curso</label>
                    </div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="professor">
                        <label for="curso">Professor(a)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="dias">
                        <label for="curso">Dias da semana</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="entrada" oninput="mascara_hora(this)" onblur="verifica_horas(this)">
                        <label for="curso">Horário de início</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="saida" oninput="mascara_hora(this)" onblur="verifica_horas(this)">
                        <label for="curso">Horário de término</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="number" min="0" class="form-control required" id="vagas"  oninput="this.value = this.value.replace(/[^0-9]+$/, '')">
                        <label for="curso">Vagas</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="number" min="0" class="form-control required" id="idade"  oninput="this.value = this.value.replace(/[^0-9]+$/, '')">
                        <label for="curso">Idade mínima</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <select class="form-select required" id="escolaridade">
                            <option selected disabled hidden></option>
                            <option value="1">Fundamental I incompleto</option>
                            <option value="2">Fundamental I completo (terminou o 5º ano)</option>
                            <option value="3">Fundamental II incompleto</option>
                            <option value="4">Fundamental II completo (terminou o 9º ano)</option>
                            <option value="5">Médio incompleto</option>
                            <option value="6">Médio completo</option>
                            <option value="7">Graduação incompleta</option>
                            <option value="8">Graduação completa</option>
                            <option value="9">Pós-graduação incompleta</option>
                            <option value="10">Pós-graduação completa</option>
                            <option value="11">Mestrado</option>
                            <option value="12">Doutorado</option>
                        </select>
                        <label for="escolaridade">Escolaridade mínima</label>
                    </div>
                </div>
            </div>

            <div id="preenchido_placeholder"></div>

            <div class="container align-items-center float-end">
                <button class="btn btn-primary float-end" id="btn" type="button" onclick="verifica_form(); enviar_dados();">Enviar formulário</button>
            </div>
        </form>
    </div>

    <footer class="border-top bg-body-secondary text-body-secondary px-5 py-2 fixed-bottom">
        <div class="row">
            <div class="col-sm-4">
                <figure class="figure start-0 translate-middle-x">
                    <img class="figure-img" width="200" src="{% static 'img/Marica.png' %}" alt="Prefeitura de Maricá">
                    <figcaption class="figure-caption text-center"><i>ORGANIZAÇÃO</i></figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure start-0 translate-middle-x">
                    <img class="figure-img" width="200" src="{% static 'img/ICTIM.png' %}" alt="Instituto de Ciência Tecnologia e Inovação de Maricá">
                    <figcaption class="figure-caption text-center"><i>REALIZAÇÃO</i></figcaption>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure start-0 translate-middle-x">
                    <img class="figure-img" width="200" src="{% static 'img/Inac.png' %}" alt="Instituto Nova Ágora de Cidadania">
                    <figcaption class="figure-caption text-center"><i>REALIZAÇÃO</i></figcaption>
                </figure>
            </div>
        </div>
    </footer>

    <style>
        .figure{
            margin-left: 50%;
        }
    </style>
</body>
</html>