{% extends 'bases/base_interno.html' %}

{% block title %}Busca de inscritos{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/busca_inscritos.js' %}"></script>

    <div class="d-none" id="token">{% csrf_token %}</div>

    <div class="container my-5 px-5">
        {% if vagas %}
        <div class="p-4 mb-5 border bg-body-secondary text-body-secondary rounded">
            <h1>Vagas por Curso</h1>
            <table class="table table-striped border">
                <thead>
                    <tr>
                        <th scope="col">Curso</th>
                        <th scope="col">Total de Vagas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curso in vagas %}
                        <tr>
                            <td>{{ curso.curso }}</td>
                            <td>{{ curso.vagas }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        <div class="p-4 mb-5 border bg-body-secondary text-body-secondary rounded">
            <label for="busca" class="form-label">Digite o nome ou CPF:</label>
            <div class="input-group mb-3">
                <i class="fa-solid fa-magnifying-glass input-group-text" id="basic-addon3"></i>
                <input type="text" class="form-control" id="busca" aria-describedby="basic-addon3" oninput="buscar(this)" value="{{ busca }}">
            </div>
            <div class="form-text">Caso tenha nome social, busque pelo nome social e não pelo civil. Se a busca for efetuada por CPF, não digite os pontos e traço.</div>
        </div>
        <div class="p-4 mb-5 border bg-body-secondary text-body-secondary rounded">
            {% if inscritos %}
                <ul class="justify-content-center list-group" id="resultado_pesquisa">
                    {% for inscrito in inscritos %}
                        <li class="list-group-item">
                            <a href="{% url 'matricula_existente' inscrito.id %}" style="text-decoration: none;" class="text-body-secondary">
                                {% if inscrito.nome_social %}
                                    <h1>{{ inscrito.nome_social }}</h1>
                                {% else %}
                                    <h1>{{ inscrito.nome }}</h1>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md">
                                        <h4>{{ inscrito.filiacao }}</h4>
                                    </div>
                                    <div class="col-md">
                                        <h4>{{ inscrito.cpf }}</h4>
                                    </div>
                                    <div class="col-md">
                                        <h4>{{ inscrito.nascimento }}</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Faça uma busca para começar a mostrar resultados.</h3>
            {% endif %}
        </div>
        <div class="container align-items-center float-end">
            <a href="{% url 'matricula_novo' %}" class="btn btn-primary float-end">Aluno não inscrito</a>
        </div>
    </div>
{% endblock %}