{% extends 'bases/base_interno.html' %}

{% block title %}Controle{% endblock %}

{% load static %}

{% block content %}

    <div class="container my-5">
        <div class="p-5 border bg-body-secondary text-body-secondary rounded">
            <div class="m-auto">
                <a href="{% url 'controle_datetimes' %}" class="btn btn-primary">Controle de horários</a>
                <a href="{% url 'planilhas' %}" class="btn btn-primary">Baixar planilhas</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#email_modal">Enviar registros por E-mail</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="email_modal" tabindex="-1" aria-labelledby="email_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="email_modal_label">Envio de registros por E-mail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Para enviar os registros do sistema, você deve preencher o campo abaixo com o E-mail de destino e clicar no botão "Enviar".
                    <div class="row">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
