{% extends 'bases/base_interno.html' %}

{% block title %}Matrícula{% endblock %}

{% load static %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/inputmask/inputmask.min.js" integrity="sha512-DVfS/GbZzLMmxBL/CW92N84eHP2Fq9d+r9RKbvctcvzISVfu+WvD+MCvbK9j8I6nVLrntGo3UUVrNFUDX0ukBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="{% static 'js/mascaras.js' %}"></script>
    <script src="{% static 'js/validacao.js' %}"></script>
    <script src="{% static 'js/matricula.js' %}"></script>
    <script type="text/javascript">
        window.turmas = {{ turmas|safe }};
    </script>
    <script src="{% static 'js/inscricao_e_matricula.js' %}"></script>

    {{ form.turma }}

    <div class="container my-5 px-5">
        <form method="post" class="needs-validation">
            {% csrf_token %}
            
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded">
                <h2>Informações Pessoais</h2>

                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        {{ form.nome }}
                        <label for="{{ form.nome.id_for_label }}" class="ms-2">Nome civil completo <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.nome.id_for_label }}_feedback"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        {{ form.nome_social }}
                        <label for="{{ form.nome_social.id_for_label }}" class="ms-2">Nome social</label>
                        <div class="form-text">Destinado para pessoas que trocaram de gênero e não se identificam com seu nome civil. Caso não se enquadre, deixe em branco.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mt-3 form-floating">
                        {{ form.nascimento }}
                        <label for="{{ form.nascimento.id_for_label }}" class="ms-2">Data de nascimento <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.nascimento.id_for_label }}_feedback"></div>
                        <div class="form-text" id="data_nasc_placeholder"></div>
                    </div>
                    <div class="col-md mt-3 form-floating">
                        {{ form.cpf }}
                        <label for="{{ form.cpf.id_for_label }}" class="ms-2">CPF <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.cpf.id_for_label }}_feedback"></div>
                        <div class="form-text" id="cpf_placeholder"></div>
                    </div>
                    <div class="col-md mt-3 form-floating">
                        {{ form.rg }}
                        <label for="{{ form.rg.id_for_label }}" class="ms-2">RG</label>
                        <div class="form-text">Caso não tenha RG, deixe em branco.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mt-3 form-floating">
                        {{ form.data_emissao }}
                        <label for="{{ form.data_emissao.id_for_label }}" class="ms-2">Data de emissão</label>
                        <div class="form-text">Caso não tenha RG, deixe em branco.</div>
                    </div>
                    <div class="col-md mt-3 form-floating">
                        {{ form.orgao_emissor }}
                        <label for="{{ form.orgao_emissor.id_for_label }}" class="ms-2">Órgão emissor</label>
                        <div class="form-text">Caso não tenha RG, deixe em branco.</div>
                    </div>
                    <div class="col-md mt-3 form-floating">
                        {{ form.uf_emissao }}
                        <label for="{{ form.uf_emissao.id_for_label }}" class="ms-2">UF de emissão</label>
                        <div class="form-text">Caso não tenha RG, deixe em branco.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        {{ form.filiacao }}
                        <label for="{{ form.filiacao.id_for_label }}" class="ms-2">Filiação <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.filiacao.id_for_label }}_feedback"></div>
                        <div class="form-text">Nome de apenas uma pessoa.</div>
                    </div>
                    <div class="col-sm mt-3 form-floating">
                        {{ form.escolaridade }}
                        <label for="{{ form.escolaridade.id_for_label }}" class="ms-2">Escolaridade <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.escolaridade.id_for_label }}_feedback"></div>
                    </div>
                </div>
                <div class="row ms-1">
                    <div class="col-sm mt-3 form-check form-switch">
                        {{ form.pcd }}
                        <label class="form-check-label" for="{{ form.pcd.id_for_label }}">É PcD?</label>
                    </div>
                    <div class="col-sm mt-3 form-check form-switch">
                        {{ form.ps }}
                        <label class="form-check-label" for="{{ form.ps.id_for_label }}">Participa de Programa Social?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        {{ form.observacoes }}
                        <label for="{{ form.observacoes.id_for_label }}" class="ms-2">Observações</label>
                    </div>
                </div>

                <span class="mt-4 badge text-bg-danger" id="danger_badge">Os itens marcados com<i class="fa-solid fa-asterisk" style="color: #ffffff;"></i> são obrigatórios!</span>
            </div>

            <div class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded">
                <h2>Informações de Contato</h2>

                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}" class="ms-2">E-mail</label>
                        <div class="form-text" id="email_placeholder"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        {{ form.telefone }}
                        <label for="{{ form.telefone.id_for_label }}" class="ms-2">Telefone</label>
                        <div class="form-text" id="tel_placeholder"></div>
                    </div>
                    <div class="col-sm mt-3 form-floating">
                        {{ form.celular }}
                        <label for="{{ form.celular.id_for_label }}" class="ms-2">Celular <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.celular.id_for_label }}_feedback"></div>
                        <div class="form-text" id="cel_placeholder"></div>
                    </div>
                </div>

                <span class="mt-4 badge text-bg-danger" id="danger_badge">Os itens marcados com<i class="fa-solid fa-asterisk" style="color: #ffffff;"></i> são obrigatórios!</span>
            </div>

            <div class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded">
                <h2>Informações de endereço</h2>

                <div class="row">
                    <div class="col-lg-4 col-md-8 col-10 mt-3 form-floating">
                        {{ form.cep }}
                        <label for="{{ form.cep.id_for_label }}" class="ms-2">CEP <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.cep.id_for_label }}_feedback"></div>
                        <div class="form-text" id="cep_placeholder"></div>
                    </div>
                    <div class="col mt-3 d-flex align-items-center">
                        <div class="spinner-border" role="status" id="spinner_cep" hidden>
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 mt-3 form-floating">
                        {{ form.rua }}
                        <label for="{{ form.rua.id_for_label }}" class="ms-2">Rua <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.rua.id_for_label }}_feedback"></div>
                    </div>
                    <div class="col-sm-4 mt-3 form-floating">
                        {{ form.numero }}
                        <label for="{{ form.numero.id_for_label }}" class="ms-2">Número <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.numero.id_for_label }}_feedback"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mt-3 form-floating">
                        {{ form.complemento }}
                        <label for="{{ form.complemento.id_for_label }}" class="ms-2">Complemento</label>
                    </div>
                    <div class="col-md mt-3 form-floating">
                        {{ form.bairro }}
                        <label for="{{ form.bairro.id_for_label }}" class="ms-2">Bairro <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.bairro.id_for_label }}_feedback"></div>
                    </div>
                    <div class="col-md mt-3 form-floating">
                        {{ form.cidade }}
                        <label for="{{ form.cidade.id_for_label }}" class="ms-2">Cidade <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.cidade.id_for_label }}_feedback"></div>
                    </div>
                    <div class="col-md mt-3 form-floating">
                        {{ form.uf }}
                        <label for="{{ form.uf.id_for_label }}" class="ms-2">Estado <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.uf.id_for_label }}_feedback"></div>
                    </div>
                </div>

                <span class="mt-4 badge text-bg-danger" id="danger_badge">Os itens marcados com<i class="fa-solid fa-asterisk" style="color: #ffffff;"></i> são obrigatórios!</span>
            </div>

            <div class="p-5 border bg-body-secondary text-body-secondary rounded">
                <h2>Informações do Curso</h2>

                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <select class="form-select required" id="{{ form.curso.id_for_label }}" name="{{ form.curso.html_name }}" disabled required>
                            <option value selected>Selecione...</option>
                        </select>
                        <label for="{{ form.curso.id_for_label }}" class="ms-2">Curso <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="form-text" id="curso_placeholder"></div>
                        <div class="invalid-feedback" id="{{ form.curso.id_for_label }}_feedback"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <select class="form-select required" id="{{ form.dias.id_for_label }}" name="{{ form.dias.html_name }}" disabled required>
                            <option value selected>Selecione...</option>
                        </select>
                        <label for="{{ form.dias.id_for_label }}" class="ms-2">Dias <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.dias.id_for_label }}_feedback"></div>
                    </div>
                    <div class="col-sm mt-3 form-floating">
                        <select class="form-select required" id="{{ form.horario.id_for_label }}" name="{{ form.horario.html_name }}" disabled required>
                            <option value selected>Selecione...</option>
                        </select>
                        <label for="{{ form.horario.id_for_label }}" class="ms-2">Horário <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback" id="{{ form.horario.id_for_label }}_feedback"></div>
                    </div>
                </div>

                <span class="mt-4 badge text-bg-danger" id="danger_badge">Os itens marcados com<i class="fa-solid fa-asterisk" style="color: #ffffff;"></i> são obrigatórios!</span>
            </div>

            <div class="container align-items-center my-3">
                <div class="row">
                    <div class="col-xl-10 col-md-8 col-6 mt-3 form-check">
                        <input class="form-check-input required" type="checkbox" id="termos" required>
                        <label class="form-check-label" for="termos">Marque para aceitar os termos e condições. <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                        <div class="invalid-feedback">Você deve aceitar os termos para prosseguir.</div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-6 mt-3">
                        <button class="btn btn-primary float-end" type="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}