{% extends 'bases/base_interno.html' %}

{% block title %}Nova turma{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/turma_novo.js' %}"></script>

    <div class="d-none" id="token">{% csrf_token %}</div>
    
    <div class="container my-5 px-5">
        <form>
            <div id="cima_placeholder"></div>
            
            <div class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded">
                <h1>Criação de Turmas:</h1>

                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="curso">
                        <label for="curso">Curso</label>
                    </div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="professor">
                        <label for="curso">Professor(a)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="dias">
                        <label for="curso">Dias da semana</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="entrada" oninput="mascara_hora(this)" onblur="verifica_horas(this)">
                        <label for="curso">Horário de início</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="saida" oninput="mascara_hora(this)" onblur="verifica_horas(this)">
                        <label for="curso">Horário de término</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="number" min="0" class="form-control required" id="vagas"  oninput="this.value = this.value.replace(/[^0-9]+$/, '')">
                        <label for="curso">Vagas</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="number" min="0" class="form-control required" id="idade"  oninput="this.value = this.value.replace(/[^0-9]+$/, '')">
                        <label for="curso">Idade mínima</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <select class="form-select required" id="escolaridade">
                            <option selected disabled hidden></option>
                            <option value="1">Não alfabetizado(a)</option>
                            <option value="2">Alfabetizado(a)</option>
                            <option value="3">Ensino Fundamental I completo (terminou o 5º ano)</option>
                            <option value="4">Ensino Fundamental II completo (terminou o 9º ano)</option>
                            <option value="5">Ensino Médio completo</option>
                            <option value="6">Graduação completa</option>
                            <option value="7">Pós-graduação completa</option>
                        </select>
                        <label for="escolaridade">Escolaridade mínima</label>
                    </div>
                </div>
            </div>

            <div id="preenchido_placeholder"></div>

            <div class="container align-items-center">
                <button class="btn btn-primary float-start" id="btn" type="button" onclick="window.location.href = '{% url 'turma' %}'">Voltar</button>
                <button class="btn btn-primary float-end" id="btn" type="button" onclick="verifica_form(); enviar_dados();">Enviar formulário</button>
            </div>
        </form>
    </div>
{% endblock %}