{% extends 'bases/base_interno.html' %}

{% block title %}Turmas{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/turma.js' %}"></script>

    <div class="container my-5 px-5">
        <div class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded">
            <h1>Turmas:</h1>


            <div class="border-top p-3"></div>

            {% if turmas.count >= 1 %}
                <ul class="justify-content-center list-group">
                    {% for turma in turmas %}
                        <li class="list-group-item">
                            <a href="{% url 'turma_editar' turma.id %}" style="text-decoration: none;" class="text-body-secondary">
                                <h1>{{ turma.curso }}</h1>
                                <div class="row">
                                    <div class="col-md">
                                        <h4>{{ turma.professor }}</h4>
                                    </div>
                                    <div class="col-md">
                                        <h4>{{ turma.dias }}</h4>
                                    </div>
                                    <div class="col-md">
                                        <h4>{{ turma.horario }}</h4>
                                    </div>
                                    <div class="col-md">
                                        <h4>Vagas: {{ turma.vagas }}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        {% if turma.escolaridade == 1 %}
                                            <h4>Escolaridade: Não alfabetizado(a)</h4>
                                        {% endif %}
                                        {% if turma.escolaridade == 2 %}
                                            <h4>Escolaridade: Alfabetizado(a)</h4>
                                        {% endif %}
                                        {% if turma.escolaridade == 3 %}
                                            <h4>Escolaridade: Ensino Fundamental I completo (terminou o 5º ano)</h4>
                                        {% endif %}
                                        {% if turma.escolaridade == 4 %}
                                            <h4>Escolaridade: Ensino Fundamental II completo (terminou o 9º ano)</h4>
                                        {% endif %}
                                        {% if turma.escolaridade == 5 %}
                                            <h4>Escolaridade: Ensino Médio completo</h4>
                                        {% endif %}
                                        {% if turma.escolaridade == 6 %}
                                            <h4>Escolaridade: Graduação completa</h4>
                                        {% endif %}
                                        {% if turma.escolaridade == 7 %}
                                            <h4>Escolaridade: Pós-graduação completa</h4>
                                        {% endif %}
                                    </div>
                                    <div class="col-md">
                                        <h4>Idade: {{ turma.idade }}</h4>
                                    </div>
                                    <div class="col-md">
                                        <h4>Alunos: {{ turma.num_alunos }}</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {%  else %}
                <h3>Nenhuma turma foi cadastrada no sistema.</h3>
            {% endif %}
        </div>
        <div class="container align-items-center float-end">
            <button class="btn btn-primary float-end" id="btn" type="button" onclick="window.location.href = '{% url 'turma_novo' %}'">Nova turma</button>
        </div>
    </div>
{% endblock %}