{% extends 'bases/base_interno.html' %}

{% block title %}Editar turma{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/turma_editar.js' %}"></script>

    <div class="d-none" id="token">{% csrf_token %}</div>

    <div class="container my-5 px-5">
        <form>
            <div id="cima_placeholder"></div>

            <div class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded">
                <h1>Edição de Turmas:</h1>
                <input type="text" id="id" value="{{ turma.id }}" hidden>

                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="curso" value="{{ turma.curso }}">
                        <label for="curso">Curso</label>
                    </div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="professor" value="{{ turma.professor }}">
                        <label for="curso">Professor(a)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="dias" value="{{ turma.dias }}">
                        <label for="dias">Dias da semana</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="entrada" value="{{ turma.horario_entrada }}" oninput="mascara_hora(this)">
                        <label for="entrada">Horário de entrada</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="saida" value="{{ turma.horario_saida }}" oninput="mascara_hora(this)">
                        <label for="saida">Horário de saída</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="vagas" value="{{ turma.vagas }}">
                        <label for="vagas">Vagas</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <input type="text" class="form-control required" id="idade" value="{{ turma.idade }}">
                        <label for="idade">Idade mínima</label>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm mt-3 form-floating">
                        <select class="form-select required" id="escolaridade" onchange="set_escolaridade(this.value)">
                            <option selected disabled hidden></option>
                            <option value="1" {% if turma.escolaridade == 1 %}selected{% endif %}>Não alfabetizado(a)</option>
                            <option value="2" {% if turma.escolaridade == 2 %}selected{% endif %}>Alfabetizado(a)</option>
                            <option value="3" {% if turma.escolaridade == 3 %}selected{% endif %}>Ensino Fundamental I completo (terminou o 5º ano)</option>
                            <option value="4" {% if turma.escolaridade == 4 %}selected{% endif %}>Ensino Fundamental II completo (terminou o 9º ano)</option>
                            <option value="5" {% if turma.escolaridade == 5 %}selected{% endif %}>Ensino Médio completo</option>
                            <option value="6" {% if turma.escolaridade == 6 %}selected{% endif %}>Graduação completa</option>
                            <option value="7" {% if turma.escolaridade == 7 %}selected{% endif %}>Pós-graduação completa</option>
                        </select>
                        <label for="escolaridade">Escolaridade mínima</label>
                    </div>
                </div>
            </div>

            <div id="preenchido_placeholder"></div>

            <div class="container align-items-center">
                <button class="btn btn-primary float-start" id="btn" type="button" onclick="window.location.href = '{% url 'turma' %}'">Voltar</button>
                <button class="btn btn-primary float-end" id="btn" type="button" onclick="verifica_form(); enviar_dados();">Enviar formulário</button>
            </div>
        </form>
    </div>
{% endblock %}