{% extends 'bases/base_interno.html' %}

{% block title %}Redefinição de senha enviada{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/login.js' %}"></script>

    <div class="container my-5"> 
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-body-secondary">
                    <div class="card-body">
                        <h1 class="mb-3">Email de Redefinição Enviado</h1>
                        <p>Um email com instruções para redefinir sua senha foi enviado para o seu endereço de email.</p>
                        <div class="col-sm float-start">
                            <a href="{% url 'reset_password' %}" class="btn btn-primary">Reenviar</a>
                        </div>
                        <div class="col-sm float-end">
                            <a href="{% url 'login' %}" class="btn btn-primary">Voltar ao Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}