{% extends 'bases/base_interno.html' %}

{% block title %}Redefinição de senha inválida{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/login.js' %}"></script>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-body-secondary">
                    <div class="card-body">
                        <h1 class="mb-3">Redefinição de Senha Inválida</h1>
                        <p>O link para redefinir a senha é inválido ou expirou. Por favor, solicite um novo link.</p>
                        <div class="col-sm float-end">
                            <a href="{% url 'password_reset' %}" class="btn btn-primary">Solicitar Novo Link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}