{% extends 'bases/base_interno.html' %}

{% block title %}Redefinição de senha confirmada{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/login.js' %}"></script>



    <div class="container my-5">
        {% if form.errors %}
            <div class="row justify-content-center">
                <div class="alert alert-danger col-md-6">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-md-6 card bg-body-secondary">
                <div class="card-body">
                    <h1 class="mb-3">Redefinir Senha</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3 form-floating">
                            {{ form.new_password1 }}
                            <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
                        </div>
                        <div class="mb-3 form-floating">
                            {{ form.new_password2 }}
                            <label for="{{ form.new_password2.id_for_label }}">Confirme sua nova senha</label>
                        </div>
                        <div class="col-sm float-end">
                            <button type="submit" class="btn btn-primary">Redefinir Senha</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}