{% extends 'bases/base_interno.html' %}

{% block title %}Redefinição de senha completa{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/login.js' %}"></script>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-body-secondary">
                    <div class="card-body">
                        <h1 class="mb-3">Senha Redefinida</h1>
                        <p>Sua senha foi redefinida com sucesso. Você já pode fazer login com sua nova senha.</p>
                        <div class="col-sm float-end">
                            <a href="{% url 'login' %}" class="btn btn-primary">Voltar ao Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}