{% extends 'bases/base_interno.html' %}

{% block title %}Registrar funcionário{% endblock %}

{% load static %}

{% block content %}
    <script src="{% static 'js/login.js' %}"></script>
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-body-secondary">
                    <div class="card-body">
                        <h1 class="mb-3">Registrar</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3 form-floating">
                                {{ form.username }}
                                <label for="username">{{ form.username.label }}</label>
                            </div>
                            <div class="mb-3 form-floating">
                                {{ form.email }}
                                <label for="email">{{ form.email.label }}</label>
                            </div>
                            <div class="mb-1 form-floating">
                                {{ form.password1 }}
                                <label for="password">{{ form.password1.label }}</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="togglePassword('password1')">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar senha</label>
                            </div>
                            <div class="mb-1 form-floating">
                                {{ form.password2 }}
                                <label for="password">{{ form.password2.label }}</label>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="togglePassword('password2')">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Mostrar confirmação de senha</label>
                            </div>
                                <div class="col-sm float-end">
                                <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                        </form>
                        <div class="">
                            <a href="{% url 'login' %}">Fazer login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}