{% extends 'bases/base_externo.html' %}

{% block title %}Incubadora de Robótica{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <script src="{% static 'js/home.js' %}" ></script>
    <div class="container my-5 px-5 align-center">
        {% if inscricao %}
            <div class="alert alert-info mb-5" role="alert">
                <h4 class="alert-heading">As inscrições estão abertas!</h4>
                <p>Caso ainda não tenha feito a sua, faça agora clicando <a href="{% url 'inscricao' %}" class="alert-link">AQUI</a>.</p>
                <hr>
                <p>Você tem até {{ inscricao.inscricao_fim|date:"d/m/Y" }} às {{ inscricao.inscricao_fim|date:"H:i" }} para fazer a sua inscrição.</p>
            </div>
        {% endif %}

        {% if matricula %}
            <div class="alert alert-info mb-5" role="alert">
                <h4 class="alert-heading">O período de matrículas chegou!</h4>
                <hr>
                <p>Caso você tenha sido sorteado, deve comparecer à mesma unidade da turma que se inscreveu entre os dias {{ matricula.matricula_sorte_inicio|date:"d/m/Y" }} e {{ matricula.matricula_sorte_fim|date:"d/m/Y" }} para realizar a sua matrícula.</p>
            </div>
        {% endif %}
        
        {% if matricula_fim %}
            <div class="alert alert-info mb-5" role="alert">
                <h4>Para se informar sobre as vagas remanescentes, entre em contato conosco.</h4>
                <p>Você tem até {{ matricula_fim|date:"d/m/Y" }} às {{ matricula_fim|date:"H:i" }} para fazer a sua matrícula.</p>
            </div>
        {% endif %}
    
        <div class="text-center display-1 border-bottom mb-5">Nossos Cursos</div>

        <div class="card-container">
            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/info_melhor_idade.jpg' %}" class="img-fluid rounded-start-lg md-rounded-top" alt="Informática para Melhor Idade">
                    </div>
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Informática para Melhor Idade</h3>
                            <p class="card-text">Curso adaptado às necessidades e ritmo de aprendizado de pessoas da terceira idade, visando inclusão digital e social, com o uso de ferramentas para comunicação online, redes sociais e operações básicas (redes sociais, internet e outros).</p>
                        </div>
                    </div>
                    <a href="{% url 'info_melhor_idade' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Informática Básica</h3>
                            <p class="card-text">Focado em introduzir os alunos ao uso do computador e da internet. Ideal para quem busca aprender a operar e aprofundar-se um pouco mais em sistemas operacionais, programas de produtividade (Word, Excel, PowerPoint) e navegar na web com segurança.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/info_basica.jpg' %}" class="img-fluid rounded-end-lg md-rounded-bottom" alt="Informática Básica">
                    </div>
                    <a href="{% url 'info_basica' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/excel.jpg' %}" class="img-fluid rounded-start-lg md-rounded-top" alt="Excel">
                    </div>
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Excel</h3>
                            <p class="card-text">Foco na utilização da ferramenta para gestão de dados, criação de planilhas dinâmicas, gráficos e fórmulas, preparando o aluno para o mercado corporativo.</p>
                        </div>
                    </div>
                    <a href="{% url 'excel' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Power BI</h3>
                            <p class="card-text">Oferece visualizações interativas e ferramentas de business intelligence (BI) por meio de uma interface intuitiva, permitindo que os usuários criem relatórios e dashboards personalizados, que podem ser aplicados em diversas áreas, como Finanças, Engenharia, Tecnologia da Informação, Marketing e Saúde.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/power_bi.jpeg' %}" class="img-fluid rounded-end-lg md-rounded-bottom" alt="Power BI">
                    </div>
                    <a href="{% url 'power_bi' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/montagem.jpg' %}" class="img-fluid rounded-start-lg md-rounded-top" alt="Montagem e Manutenção de Computadores e Notebooks">
                    </div>
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Montagem e Manutenção de Computadores e Notebooks</h3>
                            <p class="card-text">Curso prático e teórico que ensina a montagem, diagnóstico de problemas e manutenção de computadores e notebooks, com ênfase na resolução de problemas comuns e práticas sustentáveis.</p>
                        </div>
                    </div>
                    <a href="{% url 'montagem' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Manutenção de Celulares</h3>
                            <p class="card-text">Abrange a desmontagem, análise de problemas e reparos básicos de um celular. </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/man_cel.jpg' %}" class="img-fluid rounded-end-lg md-rounded-bottom" alt="Manutenção de Celulares">
                    </div>
                    <a href="{% url 'man_cel' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/robotica.jpg' %}" class="img-fluid rounded-start-lg md-rounded-top" alt="Robótica e Automação">
                    </div>
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Robótica e Automação</h3>
                            <p class="card-text">O curso de Robótica e Automação tem três níveis que vão do básico ao avançado, com Arduino, sensores, atuadores e controle PID. Abrange protocolos SPI e I2C, exibição de dados e robótica móvel, aplicando conceitos em projetos reais com Wi-Fi e automação inteligente.</p>
                        </div>
                    </div>
                    <a href="{% url 'robotica' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Design e Modelagem 3D</h3>
                            <p class="card-text">Dois níveis que capacitam os alunos com fundamentos do design gráfico e introdução à modelagem 3D, avançando para técnicas que permitem alcançar resultados de alta qualidade em criações visuais.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/design.jpg' %}" class="img-fluid rounded-end-lg md-rounded-bottom" alt="Design e Modelagem 3D">
                    </div>
                    <a href="{% url 'design' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/educacao.jpg' %}" class="img-fluid rounded-start-lg md-rounded-top" alt="Educação Financeira">
                    </div>
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Educação Financeira</h3>
                            <p class="card-text">Abrange o planejamento financeiro, monitoramento de gastos e receitas, orçamento empresarial, gestão de fluxo de caixa e a importância do capital de giro. Inclui também a declaração anual de imposto de renda, com foco especial no MEI.</p>
                        </div>
                    </div>
                    <a href="{% url 'educacao' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Gestão de Pessoas</h3>
                            <p class="card-text">Cobre tópicos fundamentais como os cinco pilares (liderança, comunicação, treinamento e capacitação, motivação e trabalho em equipe) da gestão depessoas e processos de recrutamento e seleção. Inclui treinamento e desenvolvimento de pessoal, abordando a liderança e comunicação eficaz, além de estratégias de motivação e formação de equipes.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/gestao.jpg' %}" class="img-fluid rounded-end-lg md-rounded-bottom" alt="Gestão de Pessoas">
                    </div>
                    <a href="{% url 'gestao' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/marketing.jpg' %}" class="img-fluid rounded-start-lg md-rounded-top" alt="Marketing: Fundamentos, Consumidores e Planejamento Estratégico">
                    </div>
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Marketing: Fundamentos, Consumidores e Planejamento Estratégico</h3>
                            <p class="card-text">O participante aprende sobre os fundamentos do marketing, se capacitado para compreender o perfil dos consumidores, analisar tendências de mercado e elaborar planos estratégicos que gerem impacto positivo para marcas e negócios.</p>
                        </div>
                    </div>
                    <a href="{% url 'marketing' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Marketing Digital e Empreendedor</h3>
                            <p class="card-text">Voltado para quem deseja utilizar as plataformas digitais para divulgar negócios e desenvolver um planejamento estratégico de marketing e vendas, com treinamento em ferramentas que visão otimizar a presença digital de empresas.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/marketing_emp_dig.png' %}" class="img-fluid rounded-end-lg md-rounded-bottom" alt="Marketing Digital e Empreendedor">
                    </div>
                    <a href="{% url 'marketing_emp_dig' %}" class="stretched-link"></a>
                </div>
            </div>

            <div class="card info-card h-100 mb-5 hover-zoom">
                <div class="row g-0">
                    <div class="col-xl-4 col-lg-6">
                        <img src="{% static 'img/blockchain.png' %}" class="img-fluid rounded-start-lg md-rounded-top" alt="Blockchain">
                    </div>
                    <div class="col-xl-8 col-lg-6 align-self-center">
                        <div class="card-body">
                            <h3 class="card-title">Blockchain</h3>
                            <p class="card-text">O curso tem como objetivo orientar a pesquisa e o egresso nas novas oportunidades criadas pela Web3 Blockchain, que é a tecnologia usada para o futuro da computação em nuvem.</p>
                        </div>
                    </div>
                    <a href="{% url 'blockchain' %}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}