{% extends 'bases/base_externo.html' %}

{% block title %}Resultado{% endblock %}

{% load static %}

{% block content %}
    <script type="text/javascript">
        window.turmas = {{ dados|safe }};
    </script>
    <script src="{% static 'js/resultados.js' %}"></script>
    
    <div class="container my-5">
        <form class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded" method="post">
            {% csrf_token %}

            {{ form.id_turma }}
            
            <div class="row">
                <div class="col-sm mt-3 form-floating">
                    <select class="form-select required" id="id_unidade" name="unidade" required>
                        <option value selected>---------</option>
                    </select>
                    <label for="id_unidade" class="ms-2">Unidade <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                    <div class="form-text" id="curso_placeholder"></div>
                    <div class="invalid-feedback" id="id_unidade_feedback"></div>
                </div>
                <div class="col-sm mt-3 form-floating d-none">
                    <select class="form-select required" id="id_curso" name="curso" required>
                        <option value selected>---------</option>
                    </select>
                    <label for="id_curso" class="ms-2">Curso <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                    <div class="form-text" id="curso_placeholder"></div>
                    <div class="invalid-feedback" id="id_curso_feedback"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm mt-3 form-floating d-none">
                    <select class="form-select required" id="id_dias" name="dias" required>
                        <option value selected>---------</option>
                    </select>
                    <label for="id_dias" class="ms-2">Dias <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                    <div class="invalid-feedback" id="id_dias_feedback"></div>
                </div>
                <div class="col-sm mt-3 form-floating d-none">
                    <select class="form-select required" id="id_horario" name="horario" required>
                        <option value selected>---------</option>
                    </select>
                    <label for="id_horario" class="ms-2">Horário <i class="fa-solid fa-asterisk" style="color: #b20101;"></i></label>
                    <div class="invalid-feedback" id="id_horario_feedback"></div>
                </div>
            </div>

            <div class="row d-flex">
                <div class="col d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>

        {% if sorteados %}
            <div class="p-5 mb-5 border bg-body-secondary text-body-secondary rounded">
                {% if sorteados == -1  %}
                    <h2>Não houveram inscritos para esta turma.</h2>
                {% else %}
                    <ul class="justify-content-center list-group" id="resultado_pesquisa">
                        {% for sorteado in sorteados %}
                            <li class="list-group-item">
                                {% if sorteado.nome_social %}
                                    <h1>{{ sorteado.nome_social }}</h1>
                                {% else %}
                                    <h1>{{ sorteado.nome }}</h1>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <a href="{% url 'download_validadores' %}" class="btn btn-primary float-end">Baixar arquivos de validação do sorteio</a>
        {% endif %}
    </div>
{% endblock %}